* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

.main-class {
    position: relative;  
    width: 100%;     /*que utilice el 100% del area*/
    display: block;  /*atraves de boques de elementos*/
    margin: auto;    /*centrado*/
    text-align: center; /*textos centrados*/
}

.content:nth-child(odd) {  /*elemento hijo impar*/
    background-color: white;
    color: black;
    transform: rotate(-5deg);
    /*prefijos*/
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    padding: 50px;
    margin: 0px -50px;
}

.content:nth-child(even) {  /*elemento hijo par*/
    background-color: black;
    color: white;
    transform: rotate(-5deg);
    /*prefijos*/
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    padding: 50px;
    margin: 0px -50px;
}

.info {
    width: 1024px;
    margin: auto;
}

.info h1 {
    font-size: 60px;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 5px white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block; /*caja de acuerdo al contenido que te tenga*/
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8); /*sombre para la caja*/
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    margin-bottom: 20px;
}

.info h2 {
    font-size: 60px;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 5px white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block; /*caja de acuerdo al contenido que te tenga*/
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8); /*sombre para la caja*/
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    margin-bottom: 20px;
}

.info p{
    margin-bottom: 20px;
    font-family: fantasy;
}

.buttons {
    width: 100px;
    height: 150px;
    display: block;
    position:fixed; /*permite ubicarse por encima de los componentes*/
    z-index: 2;
    top: 50px;
    left: 50px;
}

.buttons li {
    width: 200px;
    height: 30px;
    line-height: 30px; /*altura de la linea*/
    display: block;
    list-style: none;  /*quitar la viñeta de cada item*/
}

.buttons li a {
    text-decoration: none;  /*que no ponga el azul del enlace*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /*negrita*/
    text-shadow: 0px 0px 2px black, 0px 0px 2px black;
}
 
.buttons li a:hover {  /*subrayado*/
    text-decoration: underline;
}